<app-cabecera-land></app-cabecera-land>
<div id="work-area">
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="true"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="3"
          aria-label="Slide 4"
        ></button>
      </div>
      <div class="carousel-inner">
        <!-- Slide 1 -->
        <div
          class="carousel-item active"
          style="background-image: url(./assets/images/slide/slide-1.jpg)"
        >
          <div class="carousel-container">
            <div class="carousel-content"></div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div
          class="carousel-item"
          style="background-image: url(./assets/images/slide/slide-2.jpg)"
        >
          <div class="carousel-container">
            <div class="carousel-content"></div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div
          class="carousel-item"
          style="background-image: url(./assets/images/slide/slide-3.jpg)"
        >
          <div class="carousel-container">
            <div class="carousel-content"></div>
          </div>
        </div>

        <!-- Slide 4 -->
        <div
          class="carousel-item"
          style="background-image: url(./assets/images/slide/slide-4.jpg)"
        >
          <div class="carousel-container">
            <div class="carousel-content"></div>
          </div>
        </div>
      </div>

      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span
          class="carousel-control-prev-icon bi bi-chevron-left"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span
          class="carousel-control-next-icon bi bi-chevron-right"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  <!-- End Hero -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">
      <div class="section-title">
        <h2>Contáctanos <span>eres lo más importante para nosotros</span></h2>
        <p>
          Si tienes alguna sugerencia, inconveniente o solicitud sobre tus
          pedidos o productos, te ofrecemos lo siguientes canales para
          contactarnos.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="box">
            <span>WhatsApp</span>
            <h4>Lorem Ipsum</h4>
            <p>
              Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et
              consectetur ducimus vero placeat
            </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box">
            <span>Call center</span>
            <h4>Repellat Nihil</h4>
            <p>
              Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis
              dolor quod et vel dire leno para dest
            </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box">
            <span>Correo electrónico</span>
            <h4>Ad ad velit qui</h4>
            <p>
              Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt
              debitis quo vel nam quis
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->
</div>

