<div class="mt-5 d-flex justify-content-center">
    <div class="col-7">
      <div class="p-3 bg-dark text-white rounded-3">
        <div class="container-fluid">
          <h1 class="display-6 fw-bold border-bottom">ERROR 404!</h1>
          <span>
            <h3 class="fw-bold">
              Pagina no encontrada &nbsp;
              <i class="fa fa-bug papeleraRoja" style="font-size: 40px"></i>
            </h3>
          </span>
          <p class="col-md-8 mt-5 fs-4">
            <a (click)="regresar()" class="miCursor">
                <i class="fa fa-reply papeleraRoja"></i> regresar</a
              >
          </p>
        </div>
      </div>
    </div>
  </div>
  
