<div>
  <!-- ======= Header ======= -->
  <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
    <div
      class="container-fluid container-xl d-flex align-items-center justify-content-between"
    >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="bi bi-list"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarText"
      >
      <img
      src="./assets/images/burguer_login.png"
      alt=""
      style="width: 60px; height: auto"
    />
        <div class="logo me-auto">
          <h1><a href="#">&nbsp;Mi corralito</a></h1>
        </div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              [routerLink]="['/land/home']"
              routerLinkActive="active"
              >Inicio</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/land/city']"
              routerLinkActive="active"
              >Ciudades</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/land/restaurant']"
              routerLinkActive="active"
              href="#"
              >Restaurantes</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Nuestra carta
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Hamburguesas</a></li>
              <li><a class="dropdown-item" href="#">Perros calientes</a></li>
              <li><a class="dropdown-item" href="#">Menú infantil</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/land/event']"
              routerLinkActive="active"
              >Eventos</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Acerca de</a>
          </li>
        </ul>
        <a class="book-a-table-btn scrollto" [routerLink]="['/land/login']"
          >Tu pedido aquí</a
        >
      </div>
    </div>
  </nav>
  <!-- End Header -->
</div>
