<app-cabecera-land></app-cabecera-land>
<div style="padding-top: 80px">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-md-6">
              <div class="card-body">
                <div class="text-center">
                  <a [routerLink]="['/land/home']"
                    ><img src="./assets/images/burguer_login.png" alt="logo"
                  /></a>
                  <h4 class="mt-1 mb-4 pb-1">Haz tu pedido aquí</h4>
                </div>

                <div>
                  <form
                    #frmLogin="ngForm"
                    class="col-md-12"
                    (submit)="frmLogin.form.valid && operaciones(frmLogin)"
                    novalidate
                  >
                    <div class="form-outline mb-2">
                      <input
                        type="email"
                        id="usu"
                        name="usu"
                        [(ngModel)]="objUsuario.correoAcceso"
                        [ngClass]="{
                          'is-invalid': frmLogin.submitted && usu.invalid
                        }"
                        #usu="ngModel"
                        required
                        class="form-control"
                        placeholder="Correo electrónico"
                        [pattern]="patronCorreo"
                      />
                      <label
                        class="form-label text-warning"
                        for="form2Example22"
                        ><small>&nbsp;Usuario:</small></label
                      >
                    </div>

                    <div class="form-outline mb-2">
                      <input
                        type="password"
                        id="cla"
                        name="cla"
                        [(ngModel)]="objUsuario.claveAcceso"
                        [ngClass]="{
                          'is-invalid': frmLogin.submitted && cla.invalid
                        }"
                        #cla="ngModel"
                        required
                        class="form-control"
                      />
                      <label
                        class="form-label text-warning"
                        for="form2Example22"
                        ><small>&nbsp;Contraseña:</small></label
                      >
                    </div>

                    <div class="text-center pt-1 mb-5 pb-1">
                      <div class="d-grid gap-2">
                        <button
                          class="btn btn-primary gradient-custom-2"
                          type="submit"
                        >
                          Iniciar sesión
                        </button>
                      </div>
                    </div>

                    <div
                      class="d-flex align-items-center justify-content-center pb-3"
                    >
                      <p class="text-center">
                        ¿No tienes cuenta?
                        <br />
                        <a
                          [routerLink]="['/land/register']"
                          class="btn btn-outline-primary btn-sm"
                        >
                          Crear cuenta gratis
                        </a>
                      </p>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="col-md-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <div
                  class="d-flex justify-content-center text-white"
                  style="color: black"
                >
                  <h1>Formulario de acceso</h1>
                </div>
                <p>
                  <img src="assets/images/login.png" alt="Login" />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
